#topButton {
  visibility: hidden;
  position: fixed;
  bottom: 1.2rem;
  right: 7.2rem;
  cursor: pointer;
  padding: 15px;
  outline: none;
  z-index: 30;
  border-radius: 8px;
  font-size: 1rem;
}
@media (max-width: 768px) {
  #topButton {
    right: 86px;
    bottom: 18px;
    padding: 12px;
    border-radius: 9px;
    font-size: 14px;
  }
}
